doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Marry me!

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-slider.min.css', rel='stylesheet')
    link(href='stylesheets/animate+animo.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    script(src='javascripts/ga.js')
  body(style='background:#fafafa')
    .container
      .row
        .col-xs-12
          .media
            a.pull-left(href='#')
                img.media-object.dp.img-circle.profile-img(src='images/her3.jpg')
            #meHead.media-body
                h4.media-heading 程娅苹 
                    small 1988/05/13
                hr(style='margin:8px auto')

                a.btn.btn-default.btn-circle-small(href='#')
                    i.fa.social-icon.fa-facebook
                a.btn.btn-default.btn-circle-small(href='#')
                    i.fa.social-icon.fa-instagram
                a.btn.btn-default.btn-circle-small(href='#')
                    i.fa.social-icon.fa-envelope
                a.btn.btn-default.btn-circle-small(href='#')
                    i.fa.social-icon.fa-linkedin
      .row
        .col-xs-12
          .panel.panel-default
              .panel-body
                #radar.col-xs-8
                #detail.col-xs-4
                  p  
                    span.radar-type 品德 
                    span#moralityRst.label.label-danger 举世无双
                  p  
                    span.radar-type 智商 
                    span#intelligenceRst.label.label-danger 万里挑一
                  p  
                    span.radar-type 身材 
                    span#shapeRst.label.label-danger 婀娜多姿
                  p  
                    span.radar-type 美貌 
                    span#lookRst.label.label-danger 沉鱼落雁
                  p  
                    span.radar-type 工作 
                    span#careerRst.label.label-danger 高端大气
              ul.list-group
                li.list-group-item
                  span.text 为照顾其面子关闭评分，嘿嘿。
                  a#evalBtn.btn.btn-primary.disabled.alignright(href="#", onClick="javascript:void(0)") 打分
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              span.text 朋友们眼中的程娅苹：
              button.btn.btn-primary.alignright(href="#tagBox", role="button", data-toggle="modal") 添加
            .panel-body
              span#tag1.label.label-danger.tag 你是猴子请来的逗逼吗 | 123
              span#tag2.label.label-danger.tag 你是猴子
              span#tag3.label.label-danger.tag 你是猴
              span#tag4.label.label-danger.tag 你是
              span#tag5.label.label-danger.tag 你是猴子
              span#tag6.label.label-danger.tag 你是猴
              span#tag7.label.label-danger.tag 你是猴子请来
              span#tag8.label.label-danger.tag 你是猴
              span#tag9.label.label-danger.tag 你是
              span#tag10.label.label-danger.tag 你是猴子

    span#plusone.animation.label-danger.label(style='display:none;') +1
    #tagBox.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tagBoxLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h5#myModalLabel 请用10字以内的词语描述程娅苹：
            .modal-body
                  p  
                    form(role='form')
                        .form-group
                            .label.sr-only(for='textField') 
                            input#textField.form-control(type='text',placeholder='提示：请客观描述')
            .modal-footer
                button.btn(data-dismiss='modal', aria-hidden='true') 关闭
                button#tagBtn.btn.btn-primary(type='submit',data-toggle='modal',href='#tagBox') 提交

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='javascripts/bootstrap-slider.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://code.highcharts.com/highcharts-more.js')
    script(src='javascripts/animo.js')
    script(src='javascripts/her.js')