extends layout

block content
    .jumbotron
      .container
        h1 程娅苹，
        p
          | 嫁给我吧！
        
        .btn-group-vertical
            a.btn.btn-primary(href='/me') 围观我
            a.btn.btn-success(href='/her') 围观她
            a.btn.btn-info(href='/story') 我们的故事
            a.btn.btn-warning(href='/letter') 程亚萍亲启

