doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Marry me!

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-slider.min.css', rel='stylesheet')
    link(href='stylesheets/animate+animo.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    script(src='javascripts/ga.js')
  body(style='background:#fafafa')
    .container
      .row
        .col-xs-12
          .media
            a.pull-left(href='#')
                img.media-object.dp.img-circle.profile-img(src='images/me.jpg')
            #meHead.media-body
                h4.media-heading 伍行 
                    small 1988/02/29
                hr(style='margin:8px auto')

                a.btn.btn-default.btn-circle-small(href='http://xingwu.qzone.qq.com/') 
                    i.fa.social-icon.fa-qq
                a.btn.btn-default.btn-circle-small(href='https://www.facebook.com/wuxing')
                    i.fa.social-icon.fa-facebook
                a.btn.btn-default.btn-circle-small(href='http://instagram.com/calka')
                    i.fa.social-icon.fa-instagram
                a.btn.btn-default.btn-circle-small(href='mailto:xingwu.cn@gmail.com')
                    i.fa.social-icon.fa-envelope
                a.btn.btn-default.btn-circle-small(href='https://www.linkedin.com/in/xingwu')
                    i.fa.social-icon.fa-linkedin
      .row
        .col-xs-12
          .panel.panel-default
              .panel-body
                #radar.col-xs-8
                #detail.col-xs-4
                  p  
                    span.radar-type 品德 
                    span#moralityRst.label.label-warning 万里挑一
                  p  
                    span.radar-type 智商 
                    span#intelligenceRst.label.label-warning 万里挑一
                  p  
                    span.radar-type 身材 
                    span#shapeRst.label.label-warning 万里挑一
                  p  
                    span.radar-type 美貌 
                    span#lookRst.label.label-warning 万里挑一
                  p  
                    span.radar-type 工作 
                    span#careerRst.label.label-warning 万里挑一
              ul.list-group
                li.list-group-item
                  span.text 请就伍行在你们心中的伟岸形象如实评价。
                  a#evalBtn.btn.btn-primary(href="#myModal", role="button", data-toggle="modal") 打分
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
                span.text 朋友们眼中的伍行：
                button.btn.btn-primary.alignright(href="#tagBox", role="button", data-toggle="modal") 添加

            #comments.panel-body

    span#plusone.animation.label-danger.label(style='display:none;') +1
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          form(id='radar-form' role='form')
            input(id='scoreId' type='hidden' name='id' value='me')
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h5#myModalLabel 请依中华传统择偶标准对伍行进行评价：
            .modal-body
                  p.slideP  
                    span.radar-type 品德 
                    span#moralityLabel.label.label-warning.radar-tag 德高望重
                    input#morality(data-slider-id='moralitySlider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-tooltip="hide" name='morality')
                  p.slideP
                    span.radar-type 智商 
                    span#intelligenceLabel.label.label-warning.radar-tag 万中无一
                    input#intelligence(data-slider-id='intelligenceSlider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-tooltip="hide" name='intelligence')
                  p.slideP  
                    span.radar-type 身材 
                    span#shapeLabel.label.label-warning.radar-tag 孙杨
                    input#shape(data-slider-id='shapeSlider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-tooltip="hide" name='shape')
                  p.slideP  
                    span.radar-type 美貌 
                    span#lookLabel.label.label-warning.radar-tag 吴彦祖
                    input#look(data-slider-id='lookSlider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-tooltip="hide" name='look')
                  p.slideP  
                    span.radar-type 工作 
                    span#careerLabel.label.label-warning.radar-tag 富甲一方
                    input#career(data-slider-id='careerSlider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-tooltip="hide" name='career')
            .modal-footer
                button.btn(data-dismiss='modal', aria-hidden='true') 关闭
                button.btn.btn-primary(type='submit') 提交


    #tagBox.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tagBoxLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          form#comment-form(role='form')
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h5#myModalLabel 请用10字以内的词语描述伍行：
            .modal-body
                  p  
                        .form-group
                            .label.sr-only(for='textField') 
                            input#textField.form-control(type='text',placeholder='提示：英明神武，虚怀若谷等')
            .modal-footer
                button.btn(data-dismiss='modal', aria-hidden='true') 关闭
                button#tagBtn.btn.btn-primary(type='submit') 提交

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='javascripts/bootstrap-slider.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://code.highcharts.com/highcharts-more.js')
    script(src='javascripts/animo.js')
    script(src='javascripts/rainbowvis.js')
    script(src='javascripts/me.js')
    script(src='javascripts/wxshare.js')
    script(src='javascripts/ga.js')